.profile{
    display: flex;    
    justify-content:flex-start;
    padding: 20px; 
    margin: 0 auto;
}
.myContainer{    
    padding: 20px;
    width: 80%;
}

.heading{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.profileList{
    list-style: none;
}
.profileList li{    
    padding: 20px;
    border: 1px solid #ccc;
}
