article {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.rocket-img {
  object-fit: cover;
  max-width: 240px;
}

.rocket-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.rocket-details > * {
  margin: 0;
  padding: 0;
}

.reserve-tag {
  background-color: teal;
  border-radius: 10%;
  color: white;
  padding: 2px;
  margin-right: 5px;
}

.reserve-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  align-self: flex-start;
}

.reserve-btn:hover {
  background-color: #0069d9;
}

.reserved {
  background-color: white;
  color: darkgray;
  border: 1px solid darkgray;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
