nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

.underline {
  text-decoration: underline;
}
